<div class="columns">
  <div class="column is-one-fifth">
    <ul>
      {{#each this.calendars as |cal|}}
        <li>
          <button {{on 'click' (fn this.toggleSelection cal.key)}} class="calendar-selector button {{if cal.selected "is-selected"}}">
            <span class="calendar-selector-background" style="background-color: {{cal.color}}" />
            {{cal.name}}
          </button>
        </li>
      {{/each}}
    </ul>
  </div>

  <div class="column">
    <iframe src={{this.iframeSource}} class="google-calendar" frameborder="0" scrolling="no">
    </iframe>
  </div>
</div>
