<nav class="navbar is-link" role="navigation" aria-label="main navigation">
  <div class="container">
    <div class="navbar-brand">
      <LinkTo @route='index' class="navbar-item"><b>Schools Out</b></LinkTo>

      <button {{on 'click' this.toggleMenu}} role="button" class="navbar-burger burger {{if this.isActive "is-active"}}" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </button>
    </div>

    <div class="navbar-menu {{if this.isActive "is-active"}}">
      <div class="navbar-start" {{on 'click' this.toggleMenu}} >
        <LinkTo @route='resources' class="navbar-item">Resources</LinkTo>
        <LinkTo @route='streaming' class="navbar-item">Streaming</LinkTo>
        <LinkTo @route='podcasts' class="navbar-item">Podcasts</LinkTo>
        <LinkTo @route='live-classes' class="navbar-item">Classes</LinkTo>
        <LinkTo @route='submissions' class="navbar-item">Submissions</LinkTo>
      </div>

      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons social-links">
            <a class="button facebook-link" href={{this.data.settings.facebookLink}} target="_facebook">
              <div class="icon">
                <FaIcon @icon="facebook-f" @prefix="fab" />
              </div>
            </a>
            <a class="button instagram-link" href={{this.data.settings.instagramLink}} target="_facebook">
              <div class="icon">
                <FaIcon @icon="instagram" @prefix="fab" />
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
