<Hero
  @title="Resources"
  @search={{this.setSearch}}
  @searchTerm={{this.search}}
  @searchPlaceholder = "Find a resource"
>
  <div class="tags are-small">
    {{#each this.data.subjects as |subject|}}
      <span class="subject-selector tag {{if (eq subject.id this.subject) "is-success" "is-info"}}" role="button" {{on "click" (fn this.setSubject subject)}}>{{subject.name}}</span>
    {{/each}}
  </div>
  <div class="table-nav">
    <div class="controls">
      <TableNav @page={{this.page}} @totalPages={{this.totalPages}} @prevPage={{this.prevPage}} @nextPage={{this.nextPage}} />
    </div>
  </div>
</Hero>

<div class="table-container">
  <table class="table is-striped is-hoverable">
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th><FilterHeading @state={{this.hasApp}} @route="resources" @queryParam="app" @label="Has App?" /></th>
        <th><FilterHeading @state={{this.earlyChildhood}} @route="resources" @queryParam="early" @label="Early Childhood" /></th>
        <th><FilterHeading @state={{this.elementary}} @route="resources" @queryParam="elementary" @label="Elementary" /></th>
        <th><FilterHeading @state={{this.middleSchool}} @route="resources" @queryParam="middle" @label="Middle School" /></th>
        <th><FilterHeading @state={{this.highSchool}} @route="resources" @queryParam="high" @label="High School" /></th>
        <th><FilterHeading @state={{this.higherEd}} @route="resources" @queryParam="higher" @label="Higher Ed" /></th>
      </tr>
    </thead>

    <tbody>
      {{#each this.resourcesToShow as |resource|}}
        <tr>
          <td>
            <a class="" href={{resource.url}} target="_resource">
              {{resource.name}}
            </a>
          </td>
          <td>{{resource.description}}</td>
          <td class="has-text-centered">{{#if resource.hasApp}}{{fa-icon 'check-square'}}{{/if}}</td>
          <td class="has-text-centered">{{#if resource.earlyChildhood}}{{fa-icon 'check-square'}}{{/if}}</td>
          <td class="has-text-centered">{{#if resource.elementary}}{{fa-icon 'check-square'}}{{/if}}</td>
          <td class="has-text-centered">{{#if resource.middleSchool}}{{fa-icon 'check-square'}}{{/if}}</td>
          <td class="has-text-centered">{{#if resource.highSchool}}{{fa-icon 'check-square'}}{{/if}}</td>
          <td class="has-text-centered">{{#if resource.higherEd}}{{fa-icon 'check-square'}}{{/if}}</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>

{{outlet}}
