<Hero
  @title="Streaming Resources"
  @search={{true}}
  @searchTerm={{this.search}}
  @searchPlaceholder="Find a video"
/>

<div class="table-container">
  <table class="table is-striped is-hoverable">
    <thead>
      <tr>
        <th>Title</th>
        <th>Rating</th>
        <th>Topic</th>
        <th>Summary</th>
        <th>Amazon Prime</th>
        <th>AppleTV+</th>
        <th>Disney+</th>
        <th>Google Play</th>
        <th>Netflix</th>
        <th>YouTube</th>
      </tr>
    </thead>

    <tbody>
      {{#each this.videos as |video|}}
        <tr>
          <td class="field-title">{{video.title}}</td>
          <td class="field-rating">{{video.rating}}</td>
          <td class="field-topic">{{video.topic}}</td>
          <td class="field-summary">{{video.summary}}</td>
          <td class="field-prime">{{#if video.prime}}{{fa-icon 'check-square'}}{{/if}}</td>
          <td class="field-apple">{{#if video.apple}}{{fa-icon 'check-square'}}{{/if}}</td>
          <td class="field-disney">{{#if video.disney}}{{fa-icon 'check-square'}}{{/if}}</td>
          <td class="field-googlePlay">{{#if video.googlePlay}}{{fa-icon 'check-square'}}{{/if}}</td>
          <td class="field-netflix">{{#if video.netflix}}{{fa-icon 'check-square'}}{{/if}}</td>
          <td class="field-youtube">{{#if video.youtube}}{{fa-icon 'check-square'}}{{/if}}</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>

{{outlet}}
